<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='botstrap_modified.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">


  <title>AI recipe generator website</title>
</head>

<body>
  <div class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">AI RECIPES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#generator">Recipe Generator</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#menu">Menu</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#subscribe">Subscribe</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Enter your favourite food" aria-label="Search">
            <button class="btn btn-outline-danger" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

  </div>
  <div class="body">
    <span>Welcome To</span>
    <h1>AI recipe generator</h1>
    <div class="m-3 btn-team">
      <a href="#menu" class="btn-white">Special Dishes</a>
    </div>
  </div>
  <div id="generator" class="container">
    <h1>Recipe Generator</h1>
    <form id="recipe-form" action="/generate_recipe" method="POST">
      <label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients" placeholder="Enter ingredients...">

      <label for="meal-type">Meal Type:</label>
      <select id="meal-type" name="mealType">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>

      <label for="cuisine">Cuisine Preference:</label>
      <input type="text" id="cuisine" name="cuisine" placeholder="Enter cuisine preference...">

      <label for="cooking-time">Cooking Time:</label>
      <input type="text" id="cooking-time" name="cookingTime" placeholder="Enter cooking time...">

      <label for="complexity">Complexity:</label>
      <input type="text" id="complexity" name="complexity" placeholder="Enter complexity...">

      <label for="recipe-type">Recipe Type:</label>
      <select id="recipe-type" name="recipeType">
        <option value="Vegetarian">Vegetarian</option>
        <option value="Non-Vegetarian">Non-Vegetarian</option>
      </select>

      <label for="extra-details">Extra Details:</label>
      <div>
        <textarea id="extra-details" rows="4" cols="30" name="extraDetails" placeholder="Enter any additional details..."></textarea>

      </div>


      <button type="submit">Generate Recipe</button>
    </form>

    <!-- Display generated recipe here -->
    <div id="recipe-output" style="margin-top: 20px; ">
      <div id="loading-animation" style="display: none; text-align: center;">
        <div class="spinner-border" role="status">
        </div>
        <span style="font-size: 20px;">
          <p>Loading</p>
        </span>

      </div>

    </div>
  </div>

  <div class="discover" id="about">
    <h2>About <span class="text-danger">Our </span> Services</h2>
    <pre> <span class="text-warning">Personalized Recipe Recommendations:</span>
          Utilize AI algorithms to analyze user preferences and suggest personalized recipe recommendations based on their dietary restrictions, taste preferences, and ingredient availability.
          <span class="text-warning">Ingredient Analysis and Substitution:</span>
          Offer a feature that allows users to input the ingredients they have on hand, and the AI will suggest alternative ingredients or recipe variations to accommodate dietary restrictions or preferences.
          <span class="text-warning">Meal Planning Assistance:</span>
          Provide AI-powered meal planning tools that help users create balanced and nutritious meal plans tailored to their specific dietary needs, health goals, and lifestyle preferences.
          <span class="text-warning">Nutritional Information and Health Insights:</span>
          Integrate AI to provide detailed nutritional information for recipes, including calorie counts, macronutrient breakdowns, and allergen alerts. Additionally, offer insights and tips for maintaining a healthy diet based on user data and preferences.
          <span class="text-warning"> Smart Shopping Lists:</span>
          Enable users to generate shopping lists automatically based on selected recipes, ingredient preferences, and inventory tracking. The AI can optimize the shopping list for efficiency and minimize food waste.
          <span class="text-warning">Cooking and Prep Time Optimization:</span>
          Use AI to analyze recipes and provide estimated cooking and prep times, as well as cooking techniques and tips to streamline the cooking process and achieve optimal results.
          <span class="text-warning">Community Engagement and Collaboration:</span>
          Foster a community of food enthusiasts by allowing users to share their favorite recipes, rate and review recipes, and engage in discussions. The AI can facilitate recipe discovery and connect users with similar tastes and interests.
          <span class="text-warning"> Continuous Improvement and Innovation:</span>
          Commit to ongoing research and development to enhance the AI algorithms and expand the range of services offered. Solicit feedback from users to identify areas for improvement and prioritize new features and functionality.!</pre>
    <img src="{{ url_for('static', filename='images/food.jpg') }}" alt="Food">
  </div>
  <div class="divider"></div>
  <div class="topdishes" id="menu">
    <h2>Discover Our <span class="text-danger">Top </span>RECIPES</h2>
    <div class="row card-dishes">
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/paneer.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">PANNER MASALA</h3>
          </div>
        </a></div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/pav_bhaji.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">PAV BHAJI</h3>
          </div>
        </a></div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/manchurian.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">MANCHURIAN</h3>
          </div>
        </a></div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/khaman.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">GUJARATI SPECIAL</h3>
          </div>
        </a></div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/noodles.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">NOODLES</h3>
          </div>
        </a></div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card border-0 shadow"
          href="food-delivery-category.html"><img class="card-img-top"
            src="{{ url_for('static', filename='images/pasta.jpg') }}" alt="Food Name">
          <div class="card-body py-4 text-center">
            <h3 class="h5 mt-1">PASTA</h3>
          </div>
        </a></div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="subscribe" id="subscribe">
    <h2>Subscribe To <span class="text-danger">Our </span>Newsletter</h2>
    <div class="form">
      <div class="input-group mb-3 newsletterForm">
        <input type="text" class="form-control" placeholder="Enter your Email ID here">
        <button class="input-group-text btn btn-danger">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="footer">
    <footer>
      © 2024 recipe generator
    </footer>
  </div>
  <script src="{{ url_for('static', filename='nav.js') }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>